<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an editorial</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th *ngxPermissionsOnly="['ADMIN']"></th>
                        <th *ngxPermissionsOnly="['ADMIN']"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let editorial of editorials">
                        <td>
                            <dd id="editorial-name" class="figure-caption" routerLink="/editorials/{{editorial.id}}">{{editorial.name}}</dd>
                        </td>
                        <td id="editorial-edit" *ngxPermissionsOnly="['ADMIN']">
                            <button [ngClass]="{ 'btn-primary': (!showEdit || edit_editorial_id != editorial.id), 'btn-danger': (showEdit && edit_editorial_id == editorial.id) }"
                                type="button" class="btn" (click)="showEditEditorial(editorial.id)">Edit</button>
                        </td>
                        <td id="editorial-delete" *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-danger" (click)="deleteEditorial(editorial.id)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <app-editorial-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"></app-editorial-create>
            <app-editorial-edit [editorial_id]="edit_editorial_id" (cancel)="hideEditEditorial()" (update)="ngOnInit()"
                *ngIf="showEdit"></app-editorial-edit>
        </div>
    </div>
</div>